* {
    margin: 0;
    padding: 0;
    font-family: Calibri, serif;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 50px;
    position: relative;
}

.black {
    background: #b68963;
}

.white {
    background: #d2b896;
}

.selected {
    background: brown;
}

.available {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #0fcc0f;
}

.can-be-attacked {
    background: rgba(15, 204, 15, 0.4);
}

.turn {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

.lost {
    background: rgba(182, 137, 99, 0.3);
    min-height: 256px;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.lost-figure {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.timer {
    position: absolute;
    top: 70px;
    text-align: center;
}

.timer h2 {
    font-weight: 400;
}

.restart {
    border: none;
    background: rgba(182, 137, 99, 0.3);
    outline: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}
